@import url("https://fonts.googleapis.com/css?family=Saira+Condensed");

/* CSS declarations go here */
body {
  font-family: 'Saira Condensed' !important;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
  font-weight: bolder;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 3% 1.5% 1.5% 3%;
  position: relative;
}

h1 {
  font-size: 300%;
  margin: 0;
  margin-bottom: 1em;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 1em;
  margin-bottom: -1em;
  position: relative;
  width: 95%;
}

ul {
  font-size:  70%;
  display: block;
}

li {
  padding:  0.5em;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em;
  background-color: #edf3fc;
  margin: 0.1em 0 0.3em 0;
}

li:hover {
  background-color: #becdd1;
  border-radius: 0.8em;
  box-shadow: 0.15em 0.15em;
}

li:active{
  box-shadow: 0.1em 0.1em;
}

textarea{
  font-size: 100%;
  width:  100%;
  height:  4em;
  border-radius: 1em;
  border-width: 0.2em;
  padding: 0.4em;
  user-select: none;
}

textarea:focus{
  background-color:  #f7f9fc;
}

div{
  user-select: none;
}

p{
  font-size: 200%;
  margin-left: 2%;
}

button{
  font-size: 100%;
  box-shadow: 0.2em 0.2em;
  border-radius: 0.9em;
}

button:active{
  opacity: 0.6;
}

img{
  max-width:100%;
  max-height:100%;
}

img:hover{
  opacity: 0.9;
  cursor: pointer;
}

img:active{
  opacity: 0.6;
}

input{
  width:  100%;
  font-size:  70%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.courses{
  font-size: 200%;
  display: block;
}

.helper{
  display: block;
}
/*
.sub-container{
  padding-left: 30em;
  display: block;
}
*/
.submission{
  padding: 0.3em 0px 0.3em 0px;
  display: block;
}

.example{
  display: block;
  background-color: #e5edf9;
  padding:  1em;
  margin: 0.3em;
}

.smallIcons{
  margin-left: 0.3em;
  margin-right: 0.3em;
  width: 1em;
}

.background{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width:  100vw;
  margin: 0;
  background-color: BLACK;
}

.displayCenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  color: white;
}

.link{
  color: white;
}
